/* 仇벒잺 Fonts */
:root {
	--font-default: 'Gabarito', sans-serif;
}

:root {
	--color-primary: #ff6bd3;
	--color-secondary: #ffd61d;
	--color-terciary: #ffc28a;
	--color-white: #fafafa;
	--color-black: #373737;
	--color-yellow: #fff000;
	--color-red: #dd3030;
	--color-blue: #2ebbcd;
	--color-primary-hover: #209faf;
	--color-shadow: #222222aa;
	--shadow: 0px 0px 5px 1px var(--color-shadow);
	--shadow-hover: 0 2px 7px 0px var(--color-shadow);
	--transition-smooth: 0.5s;
	--transition-fast: 300ms;
	--background: #ffff;

	/* button */
	--border: 2em 2em 2em 2em;

	/* transitions */
	--smooth: 1s;
}

:root {
	--scroll-behavior: smooth;
}

body {
	font-family: var(--font-default);
	color: var(--color-black);
	overflow-x: hidden;
	background: var(--background);
}

.btn {
	border-radius: var(--border);
	border-width: 0;
	color: #fff;
	box-shadow: var(--shadow);
	transition: 1s;
}

.btn:hover {
	transition: 1s;
	color: #fff;
	box-shadow: var(--shadow-hover);
}

.btn-primary {
	background-color: var(--color-primary);
}

.btn-primary:hover {
	background-color: var(--color-primary-hover);
}

.btn-active {
	background-color: var(--color-secondary);
}

.btn-secondary {
	color: var(--color-primary);
	background-color: var(--color-white);
	box-shadow: var(--shadow);
	transition: 1s;
}
.btn-secondary:hover {
	color: var(--color-white);
	background-color: var(--color-secondary);
	box-shadow: var(--shadow-hover);
	transition: 1s;
}

.Header--transparent .btn-secondary:hover {
	color: var(--color-secondary);
	background-color: var(--color-white);
	box-shadow: var(--shadow-hover);
	transition: 1s;
}

.hyphens-none {
	hyphens: none;
}

.hyphens-manual {
	hyphens: manual;
}

/* HEADER & NAV */

/* header */

.Header {
	transition: var(--transition-fast);
	background: var(--color-primary);
	box-shadow: var(--shadow);
}

.Header--transparent {
	transition: var(--transition-fast);
}

.Header--transparent .Nav-a {
	color: var(--color-white);
}

.Nav-a:hover {
	color: var(--color-secondary);
}

.Nav-a {
	color: var(--color-white);
}

.Header .active::after {
	transition: var(--transition-fast);
	background-color: var(--color-white);
}

.Header .active {
	color: var(--color-secondary) !important;
}

.Header--transparent .active {
	color: var(--color-secondary) !important;
	border-color: var(--color-secondary);
}

.Nav-ul .active {
	border-width: 0px 0px 5px 0px;
	border-radius: 0px;
	border-style: solid;
	border-color: var(--color-secondary);
}
.Nav-ul .active::before {
	content: ' ';
	position: absolute;
	top: 0;
	left: 50%;
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 100%;
	background-color: var(--color-secondary);
	transition: all 0.3s;
	opacity: 0;
	height: 3px;
}

.Header .active::before {
	transition: var(--transition-fast);
	background-color: var(--color-secondary);
}

/* nav-btn + animations */

.Nav-btn {
	box-shadow: none;
	transition: var(--transition-fast);
	cursor: pointer;
	width: 10em;
	transition: width var(--transition-fast) ease-in-out;
}

.Nav-btn {
	cursor: pointer;
	display: inline-block;
	position: relative;
}

.Nav-btn:after {
	content: '췉';
	position: absolute;
	opacity: 0;
	right: -10px;
	transition: var(--transition-fast);
}

.Nav-btn:hover {
}

.Nav-btn:hover:after {
	opacity: 1;
	right: 10px;
}

.Header--transparent .Nav-btn {
	transition: var(--transition-fast);
	background: var(--color-primary);
	color: var(--color-white);
}

/* burger */

.Nav-btntoggler {
	height: auto;
	width: 4rem;
	box-shadow: none;
	border: none;
}
.Nav-btntoggler img {
}

.Nav-btntoggler:focus {
	border: none;
	box-shadow: none;
}

.Nav-btntoggler:hover {
	border: none;
	box-shadow: var(--color-shadow);
}

/* Carousel */

.Carousel {
}

.Carousel-imgs {
}

.Carousel-img {
	filter: brightness(0.5);
	width: 100%;
	max-height: 60vh;
	object-fit: scale-down;
}

.Carousel-logo {
	width: 20em;
	height: 70%;
	position: absolute;
	object-fit: scale-down;
	object-position: center;
	z-index: 100;
	top: 50%; /* position the top  edge of the element at the middle of the parent */
	left: 50%; /* position the left edge of the element at the middle of the parent */

	transform: translate(-50%, -50%);
	-webkit-filter: drop-shadow(0px 0px 5px var(--color-shadow));
	filter: drop-shadow(0px 0px 5px var(--color-shadow));
}

/* about */

.About-img {
	width: 5em;
}

.text-orange {
	color: var(--color-secondary);
}
/* Footer */

.Footer {
	background-color: var(--color-primary);
	color: var(--color-white);
}

/* headings */

.h4 {
	color: var(--color-white);
	background-color: var(--color-primary);
	padding: 20px;
	font-size: 1.3em;
}

/*-------------------------------------------3 CUADROS-----------------------------------*/

.contenedorespagprin {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.icono {
	max-width: 100px; /* Ajusta el ancho m치ximo de la imagen seg칰n tus necesidades */
	margin-right: 1px; /* Ajusta el margen entre la imagen y la l칤nea vertical */
	text-align: center;
}

.linea-vertical {
	border-left: 2px solid #000; /* Ancho y color de la l칤nea vertical */
	height: 90px; /* Altura de la l칤nea vertical */
	margin: 0 20px; /* Ajusta el margen entre la l칤nea vertical y el p치rrafo */
	border-color: var(--color-secondary);
}

.parrafo {
	text-align: center;
	color: var(--color-black);
	width: 20em;
	font-size: 16px; /* Tama침o de fuente para el p치rrafo */
}

/*Estilos para el componente principal */
.horizontal-layout {
	margin-top: 5rem;
	display: flex; /* Usa flexbox para organizar horizontalmente */
	justify-content: center;
	align-items: center; /* Centra verticalmente los elementos */
}

/* Estilos para cada componente individual */
.image-component {
	max-width: 70px; /* Ajusta el ancho m치ximo de la imagen seg칰n tus necesidades */
	margin-right: 1px; /* Ajusta el margen entre la imagen y la l칤nea vertical */
	text-align: center;
	margin-left: 1rem;
}

.vertical-line {
	border-left: 2px solid #000; /* Ancho y color de la l칤nea vertical */
	height: 90px; /* Altura de la l칤nea vertical */
	margin: 0 20px; /* Ajusta el margen entre la l칤nea vertical y el p치rrafo */
	border-color: var(--color-secondary);
}

.text-component {
	text-align: center;
	color: var(--color-black);
	width: 20em;
	font-size: 16px; /* Tama침o de fuente para el p치rrafo */
	margin-right: 5rem;
}

/* --------------------------------------------------CUADRO GRANDE-------------------------------- */
.parrafotit {
	text-align: center;
	color: var(--color-black);
	width: 20em;
	font-size: 22px; /* Tama침o de fuente para el p치rrafo */
}

.contenedor-cuadros {
	display: flex;
	flex-wrap: wrap;
	/* justify-content: c; */
	width: 1000px; /* Ancho del contenedor */
	align-items: center;
	margin: 0 auto; /* Centra el contenedor horizontalmente */
}

.cuadro {
	width: 250px; /* Ancho de cada cuadro */
	height: 250px;
	border: 0.5px solid var(--color-white); /* Borde de los cuadros */
	padding: 10px;
	background-color: var(--color-secondary);
	text-align: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.cuadro-claro {
	width: 250px; /* Ancho de cada cuadro */
	height: 250px;
	border: 0.5px solid var(--color-white); /* Borde de los cuadros */
	padding: 10px;
	background-color: var(--color-terciary);
	text-align: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.cuadro-img {
	width: 250px; /* Ancho de cada cuadro */
	height: 250px;
	border: 0.5px solid var(--color-white); /* Borde de los cuadros */
	/* padding: 10px; */
	background-color: var(--color-terciary);
	text-align: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.imagen-cuadro {
	width: 110%;
	height: 110%;
	object-fit: cover;
	margin: 0;
	padding: 0;
}

.linea-horizontal {
	border-top: 2px solid var(--color-black); /* L칤nea horizontal */
	margin-bottom: 25px;
	margin-top: 50px;
	width: 150px;
	align-items: center;
	justify-content: center;
}

.imgcontenedor {
	width: 200px;
	height: auto;
}

.orange-bg {
	background-color: var(--color-secondary); /* Reemplaza con tu color naranja */
}

.custom-orange {
	color: #ffa500; /* Cambia el color al tono de naranja m치s claro que desees */
	/* Otros estilos si son necesarios */
}

/* Targets Tipos */

/* --------------------------------------------CUADROS DE TIPOS DE TRATAMIENTOS---------------------- */

/* Estilos para el componente principal */
.tipos-layout {
	display: flex; /* Usa flexbox para centrar los componentes */
	justify-content: center; /* Centra horizontalmente los componentes */
	align-items: center; /* Centra verticalmente los componentes */
}

/* Estilos para los contenedores de contenido */
.tipos-container {
	display: flex;
	flex-direction: column; /* Acomoda los elementos en forma vertical */
	padding: 40px; /* Agrega espacio interno en los contenedores */
	align-items: center;
}

/* Ajusta el ancho de las im치genes y los t칤tulos */
.image-component-tipos,
.title-component-tipos,
.text-component-tipos {
	width: 100%;
}

/* Estilos para cada componente individual */
.image-component-tipos {
	display: flex;
	align-items: center; /* Centra la imagen verticalmente */
	width: 70%;
}

.tam-img {
	height: 10rem;
}

.title-component-tipos,
.text-component-tipos {
	text-align: center; /* Centra el texto horizontalmente */
}

.title-component-tipos {
	color: var(--color-secondary);
}

.text-component-tipos {
	color: var(--color-black);
}

/* -------------------------------PAGINA DE AGENDAR CITA-------------------------------- */
.app-container-elegir {
	display: flex;
	flex-direction: column;
	align-items: center; /* Centra horizontalmente */
	justify-content: center;
}

.container-elegir {
	display: flex;
	justify-content: center; /* Centra horizontalmente */
	align-items: center; /* Centra verticalmente */
	margin: 10px; /* A침ade margen entre los contenedores */
}

/* Otros estilos seg칰n sea necesario */

.image-elegir {
	width: 100%;
	height: auto;
	margin-right: 1px;
	margin-left: 80px;
}

.image-elegir-img {
	width: 3rem; /* Establece el ancho deseado */
	height: 3rem; /* Establece la altura deseada */
	object-fit: cover; /* Ajusta la imagen al tama침o sin distorsionar */
}

/* Ajusta el ancho y la altura seg칰n tus necesidades */

.content-elegir {
	display: flex;
	flex-direction: column;
	/* align-items: center; */
}

.text-elegir {
	color: var(--color-black);
	text-align: left; /* Alinea el texto hacia la izquierda */
	padding-left: 3px;
}

.horizontal-line-elegir {
	border-top: 2px solid var(--color-primary);
	width: 70%;
	margin: 20px 0;
	align-items: center;
	justify-content: center;
	justify-items: center;
}

.rounded-box-elegir {
	border: 2px solid var(--color-secondary);
	border-radius: 7px;
	padding: 10px;
	height: 2rem;
	width: 10rem;
	margin-right: 10px;
}

.labelcitas {
	color: var(--color-black);
	text-align: left;
}

.input-container {
	display: flex; /* Establece una disposici칩n en l칤nea horizontal. */
	align-items: center; /* Centra verticalmente los elementos en el contenedor. */
}

.input-container-2 {
	display: flex;
	flex-direction: column; /* Establece una disposici칩n en columna para apilar elementos verticalmente. */
	align-items: center; /* Centra horizontalmente. */
}

/*  */

.select-container {
	/* Estilos para el elemento select, si es necesario. */
	border: 2px solid var(--color-secondary);
	border-radius: 7px;
	color: var(--color-black);
}

.submit-button {
	border: 2px solid var(--color-secondary);
	border-radius: 7px;
	/* padding: 10px; */
	height: 2rem;
	width: 3rem;
	align-items: end;
	margin-bottom: -20px;
	margin-left: -0.5rem;
	color: var(--color-black);
	display: flex;
	justify-content: center; /* Centra horizontalmente. */
	align-items: center; /* Centra verticalmente. */
	text-align: center; /* Centra el texto horizontalmente si es necesario. */
	font-size: 8px; /* Establece el tama침o de fuente. */
}

/* cards */

.cards {
	display: grid;
	gap: 2em;
	grid-auto-rows: auto;
	grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
}

.card {
	background-color: var(--color-white);
	transition: all 1s;
	border-style: none;
	border-radius: var(--border);
	grid-column: span 2;
	box-shadow: var(--shadow);
}

.card:hover {
}
.card-img {
	width: 10em;
	height: auto;
}

.Card-div {
	display: block;
}

.card-h5 {
	text-align: center;
}

.card-p {
}

/* 游눛 Verificaci칩n 游눛 */

.Verificacion {
}
.Verificacion-h1 {
	color: var(--color-blue);
	font-size: 2em;
}
.Verificacion-p {
}
.Verificacion-label {
}
.Verificacion-input {
	border-radius: var(--border);
}

.Modal {
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	z-index: 5;
	border-radius: var(--border);
	background-color: var(--color-white);
	box-shadow: 0 0 0 200vh var(--color-shadow);
}

.Modal {
	text-align: center;
	position: absolute !important;
	height: fit-content;
}

.Modal-h2 {
	font-size: 2em;
}

.Modal-p {
}

.Modal button {
}

/* solicitud */

.solicitud {
}
.solicitud-h2 {
	color: var(--color-primary);
	font-size: 2em;
	border-style: solid;
	border-radius: 0;
	border-color: var(--color-primary);
	border-width: 0 0 2px 0;
}

.solicitud-p {
	color: var(--color-black);
}
.solicitud-strong {
	color: color-mix(in srgb, var(--color-black) 50%, var(--color-white));
}

/* xxxxxxxxxxxxxxx */

.img-fluid {
	border-radius: 1em;
}

.input-group-text {
	border-radius: 0.5em 0 0 0.5em;
}

/* media query */

/* md - menor a este valor modifica estos valores */

@media screen and (max-width: 767px) {
	.Header {
		background: var(--color-primary);
		position: sticky;
	}

	.Header--transparent {
		background: var(--color-primary);
		position: sticky;
	}

	.navbar-expand-md {
	}

	.Nav-btn {
		background-color: var(--color-white);
		transition: all 0.5s;
		cursor: pointer;
		width: 100%;
		transition: width 0.5s ease-in-out;
	}

	.Header--transparent .Nav-btn {
		background: var(--color-white);
		color: var(--color-primary);
	}

	.Nav-btn:hover {
		width: auto;
	}

	.Nav-ul .active {
		border-width: 0px 0px 2px 0px;
		border-radius: 0px;
		border-style: solid;
		border-color: var(--color-white);
	}

	.Header .active {
		color: var(--color-white) !important;
	}

	.Header--transparent .active {
		color: var(--color-white) !important;
		border-color: var(--color-white);
	}
}

/* FORM */

.img-form {
	width: 2em;
}

.custom-border-color-orange {
	border: 2px solid var(--color-secondary); /* Cambia el color del borde a naranja */
	border-radius: 7px;
}

/* CONTACTO */

.img-contacto {
	width: 6em;
	height: 6em;
	object-fit: cover;
}

.custom-border-contacto {
	border: 2px solid var(--color-secondary);
}

.custom-border-us {
	border: 2px solid var(--color-secondary);
}

.selected-card {
	transform: scale(1.1); /* Aumenta el tama침o de la tarjeta seleccionada */
	z-index: 1; /* Asegura que la tarjeta seleccionada est칠 encima de las dem치s */
	transition: transform 0.3s ease-in-out; /* Agrega una transici칩n suave */
}

.vertical-line {
	border-right: 1px solid var(--color-secondary); /* Cambia el color y grosor seg칰n tus preferencias */
	height: 100%; /* Ajusta la altura seg칰n sea necesario */
}

.tratamiendo-bg {
	background-color: var(--color-secondary) !important;
}
